header {
    background-color: rgb(173, 231, 173);
    min-height: 100px;
    display: flex;
}
.wrapper {
    display: flex;
    background-color: gray;
    min-height: calc(100vh - 100px);
}
@keyframes SHOW-BOX {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.sidebaropen {
    width: 300px;
    background: rgb(41, 40, 38);
    display: flex;
    transition: width 0.2s ease-out; 
}
 .sidebarclose {
    background: rgb(41, 40, 38);
    transition: width 0.2s ease-in; 
    width: 50px;
  }
.inner-text {
    margin: auto;
    font-size: 24px;
    font-weight: 700;
}
.content {
    display: flex;
    flex-grow: 1;
}

/* Media queries - large dvices 992px ===== */
@media only screen and (max-width: 992px) {
    .wrapper {
        flex-direction: column-reverse;
    }
    .sidebar {
        height: 150px;
    }
}